<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="navbar">
    <div class="mr-5"></div>
        <a class="navbar-brand" href="/">
            <img width="30px" height="30px" src="/images/swagger.png"/> Repository
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {{#each navigationItems}}
                {{#if active}}
                <li class="nav-item active">
                {{else}}
                <li class="nav-item">
                {{/if}}
                    <a class="nav-link" href="{{link}}">{{title}}</a>
                </li>
                {{/each}}
            </ul>
            <form class="form-inline mt-2 mt-md-0" action="/apis" method="get">
                <input class="form-control mr-sm-2" type="text" name="name" placeholder="Search APIs" id="navbarSearchForm" aria-label="Search">
            </form>
        </div>
    <div class="ml-5"></div>
</nav>