<table>
    <tr>
        <th>Service Name</th>
        <th>Swagger Spec Url</th>
    </tr>
    <tr>
        <td>Pet Store</td>
        <td>https://petstore.swagger.io/v2/swagger.json</td>
    </tr>
</table>
