<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | Swagger Repository</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="./img/swagger.png">
    <link rel='stylesheet' href='/css/client.css' />
    <link rel='stylesheet' href='/css/vendor.css' />
  </head>
  <body class="bg-light">
    {{> navigation }}
    <div>
        {{{body}}}
    </div>
    <script src="/js/vendor.bundle.js"></script>
    <script src="/js/client.bundle.js"></script>
  </body>
</html>
