html {
    overflow-y: scroll;
}

#navbarSearchForm {
    width:430px !important;
}

body .navbar-dark .navbar-brand {
    color: rgb(240, 255, 236);
}

#navbar {
    height: 58px;
    background-color: #419827;
}

#subnav {
    margin-top: 58px;
}

body .content-nav {
    margin-top: 80px;
}
body .content-subnav {
    margin-top: 120px;
}

#serviceTitle {
    display: block;
    padding: .5rem 1rem;
}

td.col.response-col_status {
    width: 10%;
}

td.col.parameters-col_name {
    width: 20%;
}

th.col.col_header.parameters-col_name {
    width: 20%;
}